
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root {
    --blu: #1ae5f7;
    --blk: rgb(14, 12, 12);
    --yellow:#f9ca24;
    --purple:#E3EBFE;
}
/* for scroll smooth  */
html{
    scroll-behavior: smooth;
}

/* navbar section start  */
.header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.mk-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--blk);
    padding: 1rem 1.5rem;
}
.nav-logo{
    text-decoration: none;
}
.nav-logo h1{
    color: #fff;
}
.nav-logo span{
    color: var(--yellow);
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.mk-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mk-nav-item{
    list-style: none;
    margin-left: 3rem;
}

.mk-nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-bottom: 5px;
}

.mk-nav-link:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

.nav-logo{
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* navbar section end  */

/* home section start  */
.home{
    height: 100vh;
    background-color: #E3EBFE;
}
.mk-home-col{
    padding-left: 20px;
}
.home-greet{
    margin-top: 100px;
}
.mk-home-col h1 , p{
    margin-left: 20px;
}
.name span{
    color: var(--yellow);
}
.mk-home-p{
    font-size: 50px;
}
.mk-home-col2{
    height: 100%;
    background-color: var(--purple);
    display: flex;
    justify-content: space-around;
}
.mk-home-col2 img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
/* home section end  */

/* about section start  */
#about{
    height: 100vh;
    background: var(--purple);
}
.mk-about-row1{
    padding-top: 25px;
}
.mk-about-row1 h1{
    font-size: 50px;
}
.mk-about-row1 p{
    font-size: 20px;
    text-align: justify;
    padding-right: 10px;
}
.mk-about-row2 .mk-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mk-about-row2 h1{
    font-size: 20px;
    font-weight: bold;
}
.mk-about-row2 h1 span{
    font-size: 20px;
    color: rgb(194, 16, 16);
}
.mk-about-row2 h1 #span{
font-size: 30px;
color: var(--yellow);
}
.mk-exp .mk-exp-title{
    font-size: 30px;
    border-bottom: 2px solid var(--yellow);
}
/* .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: white;
}
.counter span{
    font-size: 30px;
}
.counter h3{
    font-size: 20px;
}
.counter .box{
    width: 250px;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
} */
.table{
    font-size: 15px;
}
.mk-btn{
    margin-bottom: 10px;
}
/* about section end  */

/* education section start  */
#education{
    height: 100vh;
    background: var(--purple);
    padding-top: 5px;
}
.mk-edu-row1 h1{
    font-size: 40px;
}
.mk-edu-card{
    width: auto;
    box-shadow: 0 2px 10px #302d2d;
    transition: all 0.5s;
    cursor: pointer;
}
.mk-edu-card h6 a{
    text-decoration: none;
}
.mk-edu-card:hover{
    transform: translateY(-10px);
}

/* contact section start  */
#contact{
    height: 100vh;
    background: var(--purple);
    padding-top: 10px;
}
.mk-contact-title{
    font-size: 40px;
}
.mk-contact h3 i{
    color: var(--yellow);
}
.mk-contact h3 a{
    text-decoration: none;
    color: black;
}

/* Copyright footer section */
.mk-copyright{
    width: auto;
    height: 125px;
    border-top: 5px solid var(--yellow);
}
.mk-copyright h6{
    font-size: 25px;
}
.mk-copyright .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 28, 28, 0.895);
}


/* scrolling top section  */
.arrow{
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 80vh;
    color: var(--yellow);
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    position: fixed;
    bottom: 50px;
    right: 2rem;
    z-index: 100;
    /* display: none; */
}
.arrow:hover{
    background-color: var(--yellow);
    color:#000;
}





























/* for responsive nav bar  */
@media only screen and (max-width: 668px){
    .mk-nav-menu{
        position: fixed;
        left: -100%;
        top: 0.5rem;
        flex-direction: column;
        background-color: #1a1919c9;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        transition: 0.3s;

    }

    .mk-nav-menu.active{
        left: 0;
    }

    .mk-nav-item{
        margin: 2.5rem 0;

    }
    .mk-nav-link{
        color: #fff;
    }
    .mk-nav-link:hover{
        color: var(--yellow);
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bar{
        background-color: #fff;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .mk-home-col2{
        display: none;
    }
    #about{
        height: auto;
        background: var(--purple);
    }
    .mk-about-row1 p{
        font-size: 20px;
        text-align: center;
    }
    .counter .box{
        width: 100%;
    }
}